.env
__pycache__
.DS_Store
tts_credentials.json/app/__pycache__
venv/
tts_credentials.json
/app/debug_audio/*
/app/debug_audio
**/__pycache__/
**/app/__pycache__/
*.py[cod]
# Python cache files and directories
__pycache__/
