google-api-core
google-auth
google-cloud
google-cloud-core
google-cloud-texttospeech
google-cloud-speech
google-api-python-client
dotenv
pypdf
google-generativeai
passlib
uvicorn 
fastapi
PyPDF2
gtts
itsdangerous
python-multipart
openai
pydantic
starlette
typing-extensions
mangum

